gre_pypulseq.seq
sdl_pypulseq.seq
sdl_pypulseq_miniflash.seq
Sequence.seqn
Sequence.txt
Sequence_analyzed.txt
Sequence-old.txt
set.reg
fid.seq
write_gre.py
.vscode
html/*
__pycache__/*
SDL_read_write/__pycache__/*
OldSeqFiles/
oldSeqFiles.seq
raw_seq_pulpy.mtrk
sdl_miniflash.seq
sdl_pypulseq_TE10_TR4000_os2_largeCrush_xSpoil.seq
sdl_pypulseq_TE10_TR5000_os2_largeCrush_xSpoil.seq
sdl_pypulseq_TE10_TR500_os2_largeCrush.seq
sdl_pypulseq_TE10_TR500_os2_largeCrush_xSpoil.seq
sdl_pypulseq_TE10_TR600_os2_largeCrush_xSpoil.seq
sdl_pypulseq_TE400_TR5000_os2_largeCrush_xSpoil.seq
sdl_pypulseq_TE80_TR4000_os2_largeCrush_xSpoil.seq
sdl_pypulseq_test.seq
seq_pulpy.mtrk
test_backend.txt
test_pulpy.mtrk
test_pulpy.txt
test_pulpy_save.txt